*{
    padding: 0px;
    margin: 0px;
}
.title{
    background-color: #77bde6;
    height: 10vh;
    letter-spacing: 3px;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color:#ffffff;
}
.box1{
    background: #e2f5fd;
    height: 15vh;
}
.box1-1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.box1-3{
    height: 15vh;
    padding: 4% 0;
}
.hover1{
    color: #000;
}
.hover1:hover{
    background-color: #77bde6;
    font-size: 30px;
    color: #ffffff;
    transition: .5s;
    transform: scale(2);
}
.box2{
    background: #e2f5fd;
    height: 60vh;
}
.box2-1{
    text-align: center;
}
.box2-2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fbf596;
    margin-bottom: 15%;
}
.text2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15%;
}
.text2-1{
    font-size: 24px;
    text-align: center;
    padding-top: 20%;
}
.text2-2{
    margin-top: 25%;
}
.box3{
    background: #77bde6;
    height: 15vh;
}
.box3-1{
    padding: 4% 15%;
}
.text3{
    font-size: 20px;
    letter-spacing: 3px;
    color: #ffffff;
    font-weight: bold;
}
