*{
    padding: 0px;
    margin: 0px;
}
.title.fs-4{
    background-color: #77bde6;
    height: 10vh;
    letter-spacing: 3px;
    text-align: center;
    font-weight: bolder;
    color:#ffffff;
}
.box1{
    background: #e2f5fd;
    height: 15vh;
}
.fs-6{
    font-weight: bold;
    text-align: center;
}
a>.fs-6{
    color: #000;
}
a>.fs-6:hover{
    color: #5aa3ce;
}
.box2{
    background: #e2f5fd;
    height: 75vh;
}
.box2-1{
    width: 80%;
    min-height: 20%;
    max-height: 90%;
    background-color: #fff;
    overflow: auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 25px #757474;
    margin-top: 10px;
}
.fs-5{
    text-align: left;
}
.fs-2{
    line-height: 80px;
}
.border1{
    border-bottom: #000 solid 2px;
    margin: 10px auto;
}