html{
    overflow-x: hidden;
}
body{
    overflow: hidden;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #c4daf1;
}
.top{
    height: 6%;
    width: 100%;
    margin: 0;
    padding: 7% 0 7% 0;
    background-color: #77bde6;
    margin-bottom: 50px;
    text-align: center;
}
.title_text{
    font-size:x-large;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: bolder; 
}
.input_frame{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 ;
    padding: 5px;
    margin-top: 5%;
}
.input_frame .inputa{
    justify-content:center;
    align-items:center;
    padding: 3px;
    margin: 0 ;
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border: none;
}
.submit{
    padding: 10px 30px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    background-color: #77bde6;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    margin: 0 15%;   
    border: none;
    cursor: pointer;
}
.title {
    text-align: center;
    font-size: x-large;
}
.titleinput {
    background-color: transparent;
    border: none;
    font-size: x-large;
    width: 80px;
    outline: none;
}