<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dinosaur</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/dinosaur.css' %}">
</head>
<body>
    {% include 'nav.html' %}

    <div class="container-fluid">
        <div class="row box2 align-items-center justify-content-center">
            <div class="col-8">
                <div class="fs-3">我的小恐龍<br><br></div>
                <div class="box2-1">
                    <img src="{% static 'images/dinosaur.png' %}" width="200px" height="200px">
                </div>
            </div>
            <div class="col-3">
                <div class="box2-2"><div class="fs-5">配件<br></div></div>
                <div class="box2-2"><div class="fs-5">皮膚<br></div></div>
                <div class="box2-2"><div class="fs-5">表情</div></div>
            </div>
        </div>
    </div>
</body>
</html>