*{
    padding: 0px;
    margin: 0px;
}
.title{
    background-color: #77bde6;
    height: 10vh;
    letter-spacing: 3px;
    text-align: center;
    font-size: 24px;
    color:#ffffff;
}
.box1{
    background: #e2f5fd;
    height: 15vh;
}
.box1-1{
    font-size: 18px;
    text-align: center;
    padding: 7%;
}
.progress {
    --bs-progress-height: 1.7rem;
    --bs-progress-bg: #c4daf1;
    --bs-progress-border-radius: 0.5rem;
    --bs-progress-bar-bg: #508be4;
    display: flex;
}
.box2{
    background: #e2f5fd;
    height: 60vh;
}
.box2-2{
    background-color: #ffffff;
    min-height: 20%;
    max-height: 80%;
    overflow: auto;
    border-radius: 20px;
    box-shadow: 5px #000;

}
.fs-3{
    padding-top: 2%;
    color: #9d9d9d;
}
.fs-5{
    color: #000;
    border-bottom: #9d9d9d solid 2px;
}
button{
    background-color: transparent;
    border: none;
}
.box3{
    background: #77bde6;
    height: 15vh;
}
.box3-1{
    padding: 4% 15%;
}
.text3{
    font-size: 20px;
    letter-spacing: 3px;
    color: #ffffff;
    font-weight: bold;
}
